.mainprofilebox {
  font-family: "Poppins", sans-serif;
  background: hsla(141, 54%, 86%, 1);

  background: linear-gradient(
    to right,
    hsla(141, 54%, 86%, 1) 0%,
    hsla(333, 73%, 85%, 1) 50%,
    hsla(211, 58%, 79%, 1) 100%
  );

  background: -moz-linear-gradient(
    to right,
    hsla(141, 54%, 86%, 1) 0%,
    hsla(333, 73%, 85%, 1) 50%,
    hsla(211, 58%, 79%, 1) 100%
  );

  background: -webkit-linear-gradient(
    to right,
    hsla(141, 54%, 86%, 1) 0%,
    hsla(333, 73%, 85%, 1) 50%,
    hsla(211, 58%, 79%, 1) 100%
  );
}

.card{
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 20px;
  color: #525252;
  background-color: rgb(255, 255, 255);
  display: flex;
  column-gap: 20px;
  box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
}
.col {
  width: 50%;
}

.flex-container {
  display: flex;
  column-gap: 15px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}
.space-between {
  justify-content: space-between;
}
.img-placeholder {
  position: relative;
  max-height: 200px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
}

.card h3 {
  font-weight: 700;
  font-size: larger;
}
.card p {
  font-weight: 500;
}
.card a {
  color: #888;
  text-decoration: none;
}
.card a:hover {
  color: inherit;
}
.card span {
  font-weight: 500;
}
.profile-details{
  margin-top: 20px;
  display: flexbox;
}

.sponsors{
  overflow: hidden;
  width: 1420px;
  height: 30vh;
  border-right: 1px black solid;
  border-left: 1px black solid;
  border-top: 1px black solid;
  border-bottom: 1px black solid;

}
.sponsors ul{
  display: flex;
  animation: cambio 50s infinite linear;
}


.sponsors img{
max-height: 80px;
margin-left: 100px;

}

@keyframes cambio {
  from {margin-left: 0%}
  to {margin-left: -100%}
}

#define{
  margin-top: 50px;
}

#headertext{
  margin-top: 8%;
}

#navbar{
  background-color: #000000;
  border-radius: 8px;
  opacity: .8;
}

#events-span{
  color: rgb(252, 21, 117);
  font-size: larger;
  margin-left: 50px;
}

#splendid-span{
  font-size: larger;
  margin-left: 50px;
  
}

#upcoming{

}

#category{
  color: #313131;
  font-size: 35px;
  border-bottom: 3px solid rgb(250, 20, 135);
}

#cards{
  margin-top: 30px;
  justify-content: center;
}